<html>
<head>
  <link rel="stylesheet" href="app/views/welcome/index.css" type="text/css" />
  <title>CMPT276 Assignment 2</title>
</head>

<body>
<h1>Student Database</h1>
<table id="main_table">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Color</th>
    <th>Student Number</th>
    <th>GPA</th>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>1</td>
    <td>1</td>
  </tr>
</table>

<button>New</button>
<button>Remove</button>
<button>Edit</button>
<button>Display</button>

</body>
</html>
